html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  padding: 30px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
}
.navbar a {
  padding: 30px;
}
.content {
  background-color: darkgray;
  height: 100vh;
  font-size: 2rem;
  padding-top: 30px;
  color: #fff;
}
